html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #7a5cff 0%, #3cd644 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  padding-top: 20px;
  user-select: none;
}

.react-calculator {
    position: relative;
    margin: 0 auto;
    width: 320px;
    height: 480px;
    background-color: white;  
    box-shadow: 0 19px 38px rgba(19, 19, 19, .24),
  0 15px 12px rgba(19, 19, 19, .12);
}


button {

  border: 5px;
  font-size: 20px;
  line-height: 1;
  background-color: transparent;
  color: #080806;
  transition: all 300ms;
  border: 5px solid #0001;
}

button:hover {
  background-color: aliceblue;
}


.screen {
  position: relative;
  width: 320px;
  height: 80px;
  padding: 8px;
  overflow: hidden;
  background-color: black;
  font-size: 32px;
  line-height: 2;
  color: #ffffff;
  text-align: right;
  direction: rtl;
  white-space: nowrap;
  box-sizing: border-box;
}

.numbers {
  flex-grow: unset;
  width: 240px;
  float: left;
}

.numbers button {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  float: left;
}
.math-operations button {
  display: inline-block;
  width: 80px;
  height: 80px;
  color: #00318b;
}

.equal-operations button{
  width: 80px;
  height: 320px;
  color: white;
  background-color: #056899;
  border: 2px;
}

.numbers button:last-child {
  width: 80px;
  height: 80px;
  color:white;
  background-color: rgb(230, 56, 3);
  border: 5px solid #0001;;
}
